.font-large {
	font-size: clamp(1.7rem, 1rem, 2rem) !important;
}

.font-medium {
	font-size: clamp(1.5rem, 1rem, 2rem) !important;
}

.font-small {
	font-size: clamp(0.5rem, 1rem, 2rem) !important;
}

.font-extra-small {
	font-size: clamp(0.2rem, 1rem, 2rem) !important;
}

@media (max-width: 767px) {
	.font-large {
		font-size: clamp(1.7rem, 1rem, 2rem) !important;
	}

	.font-medium {
		font-size: clamp(1.5rem, 1rem, 2rem) !important;
	}

	.font-small {
		font-size: clamp(0.5rem, 1rem, 2rem) !important;
	}

	.font-extra-small {
		font-size: clamp(0.4rem, 0.9rem, 1rem) !important;
	}
}
